* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #7994eb;
    font-family: "Inter";
    color: black;
}

main {
    display: flex;
    align-items: flex-start;
    gap: 10rem;
    padding: 5rem;
    height: 100vh;
}

header img {
    height: 80px;
    width: 120px;
}

.main {
    flex: 1;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.main textarea {
    color: #040607;
    flex: 1;
    background: none;
    border: none;
    font-size: 2rem;
    line-height: 48px;
    outline: none;
    resize: none;
}

textarea::placeholder {
    color: #052051;
}

.footer p {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: #131212;
    font-size: 1rem;
}

.button-footer {
    display: flex;
    gap: 1rem;
}

.button-footer button {
    flex: 1;
    text-align: center;
    padding: 1.5rem;
    border-radius: 10px;
    font-size: 1rem;
}

.criptografar {
    color: white;
    border: 1px solid #000000;
    background-color: #0752c2;
    border: none;
}

.descriptografar {
    color: white;
    border: 1px solid #000000;
    background-color: #5c82ff;
    border: none;
}

.criptografar:hover{
   opacity: 0.8; 
   cursor: pointer;
}

.descriptografar:hover {
    color: #052051;
    opacity: 0.5;
    cursor: pointer;
    background-color: white;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #d2e5f1;
    border-radius: 20px;
    width: 35rem;
    height: 100%;   
}

.result h1, p {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1rem;
}

.result-text {
    max-width: 100%;
    word-wrap: break-word;
  
    margin-top: 1rem;
    font-size: 1.125rem;
    line-height: 24px;
    color: #052051;
    text-align: center;
  }
  
.result.result-completed .content-result-button {
    max-width: 376px;
    width: 100%;
    padding: 1.2rem;
    border-radius: 24px;
    text-align: center;
    font-size: 1rem;
    background-color: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
}
  


